body {
    background: #000;
}

.wall {
    position:relative;
    height: 56.69vw;
    width: 100%;
    //min-height: 800px;
    background-image: url(Office-5.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.nft {
    position: absolute;
    border: none;        
}

.nft1 {
    left: 10vw;
    top: 30%;
    width: 20vw;
    height: 20vw;
}

.nft2 {
    left: 68vw;
    top: 30%;
    width: 20vw;
    height: 20vw;
}

.nft3 {
    left: 34vw;
    top: 20%;
    height: 13vw;
    width: 13vw;
}

.nft4 {
    left: 51vw;
    top: 20%;
    height: 13vw;
    width: 13vw;
}

.nft5 {
    left: 34vw;
    top: 50%;
    height: 13vw;
    width: 13vw;
}

.nft6 {
    left: 51vw;
    top: 50%;
    height: 13vw;
    width: 13vw;
}
