body {
    background: #000;
}

.wall {
    height: 100%;
    width: 100%;
}

.nft {
    position: absolute;
    border: none;
    width: 35%;
    height: 35%;    
}

.nft1 {
    left: 0%;
    top: 30%;
}

.nft2 {
    left: 65%;
    top: 30%;
}

.nft3 {
    left: 28%;
    top: 20%;
    width:24%;
    height:24%;
}

.nft4 {
    left: 48%;
    top: 20%;
    width: 24%;
    height: 24%;
}

.nft5 {
    left: 28%;
    top: 50%;
    width: 24%;
    height: 24%;
}

.nft6 {
    left: 48%;
    top: 50%;
    width: 24%;
    height: 24%;
}
